<div class="form-item">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br>
</div>
<div class="form-item">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br>
</div>