<h2>Books all</h2>

<form action="/books" method="GET">
  <div>
    <label for="title">Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
  </div>
  <div>
    <label for="publishedAfter">Date before</label>
    <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">  
  </div>
  <div>
    <label for="publishedBefore">Date After</label>
    <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">  
  </div>

  

  <button type="submit">Search</button>
</form>


<div>
  <% books.forEach(book=>{%>
    <% if(book.coverImagePath) {%>
    <img width="100px" height="150px" src="<%= book.coverImagePath %>" alt="">
    <% } %>
    <% }) %>
</div>
