<header>
  <nav class="header-nav ">
    <a class="header-logo" href="/">My library</a>
    <ul class="header-list">
      <li class="header-link">
        <a  class="styled-btn" href="/authors">All authors</a>
      </li>
      <li class="header-link">
        <a class="styled-btn" href="/authors/new">Add author</a>
      </li>
      <li class="header-link">
        <a class="styled-btn" href="/books">All books</a>
      </li>
      <li class="header-link">
        <a class="styled-btn" href="/books/new">Add book</a>
      </li>
    </ul>
  </nav>
</header>