<h2 class="page-header">Recently added</h2>
<div>
  <% books.forEach(book=>{%>
    <% if(book.coverImagePath) {%>
      <a href="/books/<%= book.id %>">
        <img width="200px" height="250px" src="<%= book.coverImagePath %>" alt="">
  </a>
    <% } %>
    <% }) %>
</div>
