.author-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.author-form {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.author-form .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.author-name {
  text-align: center;
  width: 100%;
}

.author-form .btns .styled-btn {
  margin-left: 0;
  margin-right: 0;
}

.author-form .form-row {
  flex-wrap: nowrap;
}


.authors-grid {
  display: flex;
  flex-wrap: wrap;
}

.author-btns {
  display: flex;
}