.author-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-right: 15px;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(50px);
  padding: 20px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.author-form {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.author-form .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.author-name {
  text-align: center;
  width: 100%;
}

.author-form .btns .styled-btn {
  margin-left: 0;
  margin-right: 0;
}

.author-form .form-row {
  flex-wrap: nowrap;
}


.authors-grid {
  display: flex;
  flex-wrap: wrap;
}

.author-btns {
  display: flex;
}

.author {
  margin: 10px;
}

.author img {
  object-fit: cover;
}

.author-detail {
  display: flex;
}