.form-item .book-cover {
  width: var(--book-cover-width);
  height: calc(var(--book-cover-width) / var(--book-cover-aspect-ration));
}

.form-item .book-cover-large {
  --book-cover-width: var(--book-cover-width-large)
}

.book-form .form-row {
  justify-content: flex-start;
}

.book-form .btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.books-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book {
  margin: 10px;
}