*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #283048;
  background: -webkit-linear-gradient(to right, #859398, #283048);
  background: linear-gradient(to right, #859398, #283048);
  color: white;
}


a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 2rem;
}

.page-header {
  font-size: 2rem;
  font-weight: 500;
}


.styled-btn {
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: .5s;
  background-size: 200% auto;
  color: var(--color-text);
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(to right, #948E99 0%, #2E1437 51%, #948E99 100%);
}

.styled-btn.red {
  background-image: linear-gradient(to right, #e53935 0%, #e35d5b 51%, #e53935 100%)
}

.styled-btn:hover {
  background-position: right center;
  color: var(--color-text);
  text-decoration: none;
}

.styled-btn.short {
  max-width: 150px;
  width: 100%;
}

.filepond--credits {
  display: none;
}