<h2 class="page-header">Edit Author</h2>
<form method="POST" class="author-form" action="/authors/<%=author.id %>?_method=PUT">
  <%- include('_form_fields') -%>
  <div class="btns">
    <a class="styled-btn" href="/authors/<%=author.id%>">Cancel</a>
    <button class="styled-btn" type="submit">Update</button>
  </div>
</form>