<h2 class="page-header"><%= author.name %></h2>

<div class="author-form">
  <div class="btns">
    <a  class="styled-btn" href="/authors/<%= author.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm',{url:`/authors/${author.id}`}) -%>
  </div>
</div>

<h2>Books by author</h2>
<% if(booksByAuthor.length > 0) {%>
  <%- include('../books/books',{books:booksByAuthor}) -%>
<% } %>

